.vscode/settings.json
__pycache__/sms.cpython-37.pyc
Customer List FP.xlsx
__pycache__/gui.cpython-37.pyc
testingNumbers.py
__pycache__/config.cpython-37.pyc
__pycache__/testingNumbers.cpython-37.pyc
__pycache__/smsCommands.cpython-37.pyc
testing.xlsx
Testing Number Excel Sheet.xlsx
~$testing.xlsx
~$Testing Number Excel Sheet.xlsx
